@import url(https://fonts.googleapis.com/earlyaccess/notonaskharabic.css);

.urdu	{
  font-family: 'Noto Naskh Arabic', serif;
  font-size: 1.5em;
  direction: rtl;
  margin-top:-45px;
  margin-bottom:-55px;
}
