
      body  {
        background-color:#00241b;
        color: #dcdde1;
        font: 1.1em Arial, Helvetica, sans-serif;
            }

      svg   {
        color: rgba(255, 255, 255, 0.35);
            }

      figcaption  {
        grid-row: 2;
        grid-column: 1;
        background-color: rgba(255, 255, 255, .5);
        padding: .2em .5em;
        justify-self: start;
                  }

      figure  {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 10px;
        break-inside: avoid;
        font-size: 14px;
              }

      figure>img  {
        grid-row: 1 / -1;
        grid-column: 1;
                  }

      figure a    {
        color: black;
        text-decoration: none;
                  }

      p           {
        padding: 30px 30px 30px 30px;
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 0px;
                  }

      p a:link      {
        color: #046947;
                  }

      a:hover     {
        color: hotpink;
                  }

      .wrapper    {
        max-width: 860px;
                  }

      .masonry    {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
        grid-auto-rows: 0;
                  }

      .masonry-content  {
        overflow: hidden;
                        }

      .masonry-brick    {
        color: #2f3640;
        background-color: #f5f6fa;
        transition: opacity .25s ease-in-out;
        background-color: white;
                        }

      .masonry-brick:hover  {
        opacity: 1;
                            }

      .masonry-title,
      .masonry-description  {
        margin: 0;
                            }

      .masonry-title        {
        font-weight: 700;
        font-size: 1.1rem;
        padding: 1rem 1.5rem;
                            }

      .masonry-description  {
        padding: 1.5rem;
        font-size: 16px;
        border-top: 1px solid #eee;
        color: #666;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
                            }
